body{
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
}
h1,
h2,
h3{
    font-weight: 800;
}
h4{
    font-weight: 700;
}
p{
    font-weight: 400;
}
.btn{
    font-weight: 900;
}
.navbar-brand{
    font-weight: 800;
}

/* Hero */
.hero__img{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right center;
}

/* About Me */
.aboutMe__img{
    border-radius: 8px;
    width: 80vw;
    height: 80vw;
    max-height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    box-shadow: -5px 5px 5px black;
}
#aboutMe{
    background-color: #FDF0E9;
}

/* Skills */
.card{
    overflow: hidden;
}
.card p{
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.card > *{
    transition: 400ms ease-in-out;
}
.card img{
    width: 100%;
}
.card:hover > p{
    top:calc(50% - 1rem);
}
.card:hover > img{
    transform: translateY(150px);
}
@media (min-width: 992px) {
    .hero__img{
        background-size: 68%;
    }
}