body{
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
}
h1,
h2,
h3{
    font-weight: 800;
}
h4{
    font-weight: 700;
}
p{
    font-weight: 400;
}
.btn{
    font-weight: 900;
}
.navbar-brand{
    font-weight: 800;
}
.hero__img{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}